<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chrumck.pjatk.myshoppinglist">

    <uses-permission android:name="com.chrumck.pjatk.notificationservice.permission.BROADCAST_REC" />

    <permission
        android:name="com.chrumck.pjatk.myshoppinglist.permission.BROADCAST"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShopListActivity"
            android:label="@string/title_activity_shop_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrumck.pjatk.myshoppinglist.MainActivity" />
        </activity>
        <activity
            android:name=".ProductListActivity"
            android:label="@string/title_activity_product_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrumck.pjatk.myshoppinglist.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrumck.pjatk.myshoppinglist.MainActivity" />
        </activity>
        <activity
            android:name=".ShopEditActivity"
            android:label="Add / Edit"
            android:parentActivityName=".ShopListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrumck.pjatk.myshoppinglist.ShopListActivity" />
        </activity>
        <activity
            android:name=".ProductEditActivity"
            android:label="Add / Edit"
            android:parentActivityName=".ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrumck.pjatk.myshoppinglist.ProductListActivity" />
        </activity>
    </application>

</manifest>